.App {
  text-align: center;
}

html{
  /* background: linear-gradient(to right, #000000 , #53346d); */
  /* background: linear-gradient(to right, #141e30 , #243b55); */
  /* background: linear-gradient(to right, #000000, #434343); */
  background: linear-gradient(to right, #114357, #F29492);
  /* background: linear-gradient(to right, #232526, #232526); */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Calendar {
  height: 500px;
}

.form-field {
  width: 60% !important
}

.search-button{
  margin-top: 10px;
}

/* img {
  background: transparent url('https://loading.io/spinners/coolors/lg.palette-rotating-ring-loader.gif') center no-repeat;
  margin: 5px 5px 5px 5px;
  border: 2px solid black;
} */
